# Dependencies
node_modules/

# Build output
dist/

# Astro
.astro/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local